<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
        <link  href="/scss/laboratorio/laboratorio.css" rel=stylesheet"">
        <title>Examen de Orina</title>
    </head>

    <body>
        <div class="container my-3">
            <h1 class="text-center">EXAMEN DE ORINA</h1>
            <!--Contenedor principal-->
            <div class="d-flex justify-content-between">
                <!--Contenedor informacion paciente-->
                <div class="w-50">
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Código:</span>
                            <span>1</span>
                        </div>
                        <div class="my-1">
                            <span>N°:</span>
                            <span>0000001</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Paciente:</span>
                            <span>Josue Zambrano</span>
                        </div>
                        <div class="my-1">
                            <span>Edad:</span>
                            <span>22 años</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Solicita:</span>
                            <span>Dr. Quishpe Jesús</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Fecha:</span>
                            <span>23/09/2021</span>
                        </div>
                    </div>
                </div>
                 <!--Fin Contenedor informacion paciente-->
                <!--Contenedor boton imprimir -->
                <div >
                    <a href="#">Imprimir</a>
                </div>
                <!-- Fin Contenedor boton imprimir -->
            </div>
            <!--Divider-->
            <div class="divider w-100 my-1" style="height: 1px;background-color: lightgray;"></div>
            <!--Fin Divider-->

            <h2>Resultados</h2>
            <br>
            <!--Tabla de resultados-->
            <h5>==EXAMEN DE ORINA==</h5>
            <table class="w-100">
                <thead >
                    <tr>
                        <!--Columnas de la cabecera-->
                        <th>==FISICO QUIMICO==</th>
                        <th>==MICROSCOPIO==</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Cada "tr" es una fila-->
                    <tr>
                        <!--Cada td es una celda-->
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">COLOR</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">HEMATIES</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex ">
                                <div class="flex-grow-1">OLOR</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">LEUCOCITOS</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">SEDIMENTO</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">CEL EPITELIALES:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">PH:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">FIL MUCOSOS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">DENSIDAD:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">BACTERIAS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">LEUCOCITURIA:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">BACILOS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">NITRITOS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">CRISTALES:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">ALBUMINA:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">CILINDROS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">GLUCOSA:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">CILINDROS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">CETONAS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">PIOCITOS:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">UROBILINOGENO:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">BILIRRUBINA:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">SANGRE (HEM. ENTEROS):</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">SANGRE (H. LISADOS):</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">ACIDO ASCORBICO:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>    
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="text-center fw-bold">
                                ==OBSERVACIONES==
                            </div>
                            <p class="text-center">
                                -
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Fin Tabla de resultados-->
        </div>
    </body>
</html>
