<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla General</title>
</head>

<body>
    <div class="container ">
        <div class="d-flex" style="margin-top: 25px; margin-left:20px;">
            <h1>Laboratorio</h1>
            <a type="button" class="btn btn-primary" style=" margin-left:575px; width:150px; height:70px" href="historial.html">Historial de Examenes</a>
        </div>
        <br>
        <div class="d-flex" style="margin-top: 10px; margin-left:23px;">
            Click en el examen a realizarse:
        </div>
        <br>
        <div class="content-wrapper">
            <div class="content" style="margin-top: 10px; text-align:center">
                <div class="container">
                    <div class="container">
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px; margin-left:50px ; width: 200px; height: 80px;" type="submit">BIOQUIMICA SANGUINEA</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px; margin-left:50px ; width: 200px; height: 80px; " type="submit">CORPOLOGIA PARA EDA</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px; margin-left:50px; width: 200px; height: 80px; " type="submit">COPROPARASITARIO</button>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">EXAMEN DE ORINA</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">HELICOBACTER PYLORI IgG HECES</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">HELICOBACTER PYLORI IgG</button>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">HEMATOLOGIA</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">HEMOGLOBINA GLICOSILADA</button>
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">PRUEBA DE EMBARAZO</button>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-primary btn-lg; align-middle" style="margin-right:100px;margin-left:50px; width: 200px; height: 80px;" type="submit">PRUEBAS TIROIDEAS</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>