<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
        <link  href="/scss/laboratorio/laboratorio.css" rel=stylesheet"">
        <title>Hemoglobina Glicosilada A1C</title>
    </head>

    <body>
        <div class="container my-3">
            <h1 class="text-center">HEMOGLOBINA GLICOSILADA A1C</h1>
            <!--Contenedor principal-->
            <div class="d-flex justify-content-between">
                <!--Contenedor informacion paciente-->
                <div class="w-50">
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Código:</span>
                            <span>1</span>
                        </div>
                        <div class="my-1">
                            <span>N°:</span>
                            <span>0000001</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Paciente:</span>
                            <span>Josue Zambrano</span>
                        </div>
                        <div class="my-1">
                            <span>Edad:</span>
                            <span>22 años</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Solicita:</span>
                            <span>Dr. Quishpe Jesús</span>
                        </div>
                    </div>
                    <div class="fila d-flex justify-content-between">
                        <div class="my-1">
                            <span>Fecha:</span>
                            <span>23/09/2021</span>
                        </div>
                    </div>
                </div>
                 <!--Fin Contenedor informacion paciente-->
                <!--Contenedor boton imprimir -->
                <div >
                    <a href="#">Imprimir</a>
                </div>
                <!-- Fin Contenedor boton imprimir -->
            </div>
            <!--Divider-->
            <div class="divider w-100 my-1" style="height: 1px;background-color: lightgray;"></div>
            <!--Fin Divider-->

            <h2>Resultados</h2>
            <!--Tabla de resultados-->
            <table class="w-100">
                <thead >
                    <tr>
                        <!--Columnas de la cabecera-->
                        <th>==HEMOGLOBINA GLICOSILADA A1C==</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Cada "tr" es una fila-->
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    
                    </tr>
                    <tr>
                        <!--Cada td es una celda-->
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">RESULTADO:</div>
                                <div class="me-5">-</div>
                            </div>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>

                        
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="text-center fw-bold">
                                ==OBSERVACIONES==
                            </div>
                            <p class="text-center">
                                -
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="content border border-dark w-50" style="margin-top: 10px; margin-left:20px; height:220px;">
             <div class="fw-bold">
                VALORES REFERENCIALES:
             </div>  
             <div>
                de 4 a 5,7%DCCT (de 20 a 39 mmol/molIFCC)------->Paciente no diabético)
             </div>
             <div>
                de 5.7 a 6,0%DCCT (de 39 a 42 mmol/molIFCC)------->Riesgo de desarrollar diabetes)
             </div>
             <div>
                de 6,0 a 6,5%DCCT (de 42 a 48 mmol/molIFCC)------->Alto riesgo de desarrollar diabetes)
             </div>
             <div>
                 menos del 7%DCCT (menos del 53 mmol/molIFCC)------->Objetivo para un control efectivo de la diabetes y para minimizar las complicaciones a largo plazo
             </div>
             
       
            </div>
            <!--Fin Tabla de resultados-->
        </div>
    </body>
</html>
