<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Examenes</title>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center" style="margin-top: 20px">
            <h1>Historial de Examenes</h1>
        </div>
        <br>
        <div class="d-flex align-items-center justify-content-center" >
            Buscar:
            <input class="form-control border border-dark w-50 mx-1"  type="text" placeholder="Ingrese la cédula o apellido..." placeholder>
            <button type="button " class="btn btn-primary" type="submit">Buscar</button>
        </div>
        <br>
        <div class="content" style="margin-top: 10px; text-align:center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tipo de Examen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0705277010</td>
                        <td>José Guillermo</td>
                        <td>Díaz Peñafiel</td>
                        <td>M</td>
                        <td>13/09/2021</td>
                        <td>Examen de Orina</td>
                        <td>Ver</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>