<form action="post" id="formulario">
    <div class="buttons-container">
        <button class="btn btn-primary">Guardar</button>
        <button class="btn btn-primary">Limpiar</button>
    </div>
    <fieldset>
        <div class="grid-form">
            <div class="grid-form-item">
                <span>Protozoarios:</span>
                <input type="text" name="glucosa">
            </div>
            <div class="grid-form-item">
                <span>Ameba histolitica:</span>
                <input type="text" name="urea">
            </div>
            <div class="grid-form-item">
                <span>Ameba Coli:</span>
                <input type="text" name="creatinina">
            </div>
            <div class="grid-form-item">
                <span>Giardia Lamblia:</span>
                <input type="text" name="acido_urico">
            </div>
            <div class="grid-form-item">
                <span>Trichomona Hominis:</span>
                <input type="text" name="colestero_ltotal">
            </div>
            <div class="grid-form-item">
                <span>Chilomastik Mesnile:</span>
                <input type="text" name="colesterol_hdl">
            </div>
            <div class="grid-form-item">
                <span>Helmintos:</span>
                <input type="text" name="colesterol_hdl">
            </div>
            <div class="grid-form-item">
                <span>Trichuris Trichura:</span>
                <input type="text" name="colesterol_hdl">
            </div>
            <div class="grid-form-item">
                <span>Ascaris Lumbricoides:</span>
                <input type="text" name="colesterol_hdl">
            </div>
            <div class="grid-form-item">
                <span>StrongGyloides Stercolaries:</span>
                <input type="text" name="colesterol_hdl">
            </div>
            <div class="grid-form-item">
                <span>Oxiuros:</span>
                <input type="text" name="colesterol_hdl">
            </div>
        </div>
        <h3>Observaciones</h3>
        <textarea name="observaciones" id="observaciones" cols="30" rows="8"></textarea>
    </fieldset>
</form>