<form action="post" id="formulario">
    <div class="buttons-container">
        <button class="btn btn-primary">Guardar</button>
        <button class="btn btn-primary">Limpiar</button>
    </div>
    <fieldset>
        <div class="grid-form">
            <div class="grid-form-item">
                <span>Consistencia:</span>
                <input type="text" name="glucosa">
            </div>
            <div class="grid-form-item">
                <span>Moco:</span>
                <input type="text" name="urea">
            </div>
            <div class="grid-form-item">
                <span>Sangre:</span>
                <input type="text" name="creatinina">
            </div>
            <div class="grid-form-item">
                <span>Albumina:</span>
                <input type="text" name="acido_urico">
            </div>
            <div class="grid-form-item">
                <span>Azúcares reductores:</span>
                <input type="text" name="colestero_ltotal">
            </div>
            <div class="grid-form-item">
                <span>Levadura y micelios:</span>
                <input type="text" name="colesterol_hdl">
            </div>
        </div>
        <h3>Inmunología</h3>
        <div class="grid-form">
            <div class="grid-form-item">
                <span>Leucocitos:</span>
                <input type="text" name="vdrl">
            </div>
            <div class="grid-form-item">
                <span>Polimorfonucleares:</span>
                <input type="text" name="proteina_react">
            </div>
            <div class="grid-form-item">
                <span>Mononucleares:</span>
                <input type="text" name="ra_test">
            </div>
            <div class="grid-form-item">
                <span>Protozoarios:</span>
                <input type="text" name="asto">
            </div>
            <div class="grid-form-item">
                <span>Helmintos:</span>
                <input type="text" name="salmonella_o">
            </div>
            <div class="grid-form-item">
                <span>Esteatorrea:</span>
                <input type="text" name="salmonella_h">
            </div>
        </div>
        <h3>Observaciones</h3>
        <textarea name="observaciones" id="observaciones" cols="30" rows="8"></textarea>
    </fieldset>
</form>