<div class="modal-body">
  <h2>TRATAMIENTO</h2>
  <div class="sesion-container">
    <span class="texto">Sesión:</span>
    <span>1</span>
  </div>
  <div class="sesion-container">
    <span class="texto">Fecha:</span>
    <input type="date" name="" id="" />
  </div>
  <div class="subcontainer">
    <span class="texto">Descripción del diagnostico</span>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="subcontainer">
    <span class="texto">Procedimientos</span>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="subcontainer">
    <span class="texto">Prescripciones</span>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="modal-buttons-container">
    <button id="btn-guardar-trat">Guardar</button>
    <button id="btn-cancelar-trat">Cancelar</button>
  </div>
</div>
