<div class="modal-body">
    <h2>Diagnóstico</h2>
    <div class="diag-subcontainer">
        <span>Tipo</span>
        <select name="" id="">
            <option value="">Presuntivo</option>
            <option value="">Definitivo</option>
        </select>
    </div>
    <div class="diag-subcontainer">
        <span>Descripción del diagnostico</span>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="diag-subcontainer">
        <span>CIE</span>
        <input type="text">
    </div>
    <div class="modal-buttons-container">
        <button id="btn-guardar-diag">Guardar</button>
        <button id="btn-cancelar-diag">Cancelar</button>
    </div>
</div>